.sct-banner {
    width: 100%;
    height: 66.7vh;
    position: relative;
    background-position: top;
    background-size: 100%;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    z-index: -10;


    .img-banner {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .content-title-banner {
        position: absolute;
        bottom: 7.3%;
        margin: auto;
        left: 0;
        right: 0;
        z-index: 1;
        
        .titleBanner {
            color: $color-white;
            font-family: $font-bold-internas;
            font-size: 3.3em;
            margin: 0;
        }
    }
}
@media (min-width:1199px) and (max-width:1600px) {
    .sct-banner {
        height: 30em;
    }
}
.degrade-int{
    background: url('../../assets/images/banner/sombra.png') top left repeat-x;
    background-size: 100% 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}