.wrapper-card-repeat{
    width: 100%;
    margin: 0 auto;
    //margin-top: 4em;

    .cols-value{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
      
    .cols{
        padding: 0;
        cursor: pointer;
    }
      
    .containers{
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
          -webkit-perspective: 1000px;
                  perspective: 1000px;
    }
      
    .front,
    .back{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), 
        -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
        text-align: center;
        height: 14.6em;
        color: #fff;
        font-size: 1.5rem;
        position: relative;
    }
      
    .back:before{
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
        left: 0;
        background-color: #00a0de;
        opacity: .95;

    }
      
    .front:after{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: .3;
        background-color: #000;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .containers:hover .front,
    .containers:hover .back{
        -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
        transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    }
      
    .back{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
      
    .inner{
        -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
                transform: translateY(-50%) translateZ(60px) scale(0.94);
        top: 50%;
        position: absolute;
        left: 0;
        width: 100%;
        //padding: 1em 2em;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        outline: 1px solid transparent;
        -webkit-perspective: inherit;
                perspective: inherit;
        z-index: 2;
    }
      
    .containers .back{
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
    }
    
    .containers .front{
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
        -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
    }
      
    .containers:hover .back{
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
        -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    }
    
    .containers:hover .front{
        -webkit-transform: rotateY(-180deg);
                transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    }
      
    .inner{
        .title-inner{
            font-size: .85em;
            margin-bottom: 2rem;
            position: relative;
            font-family: $font-bold-internas;
            text-transform: uppercase;
            text-shadow: 1px 2px 15px rgba(0,0,0,.85);
    
            // &:after{
            //     content: '';
            //     width: 4rem;
            //     height: 2px;
            //     position: absolute;
            //     background-color: $color-white;
            //     display: block;
            //     left: 0;
            //     right: 0;
            //     margin: 0 auto;
            //     bottom: -.75rem;
            // }
        }
        .text-p2{
            font-size: .55em;
            color: $color-white;            
            padding-bottom: 0;
        }
        .icon-card{
            font-size: 1.8em;
            line-height: 1.5;
        }
    } 
    .back{
        .inner{
            //padding: 1em 2em;

            .title-inner {
                font-size: .9em;
                text-shadow: 1px 2px 15px rgba(0, 0, 0, 0.3);
                text-align: center;
                
                &:after{
                    display: none;
                }
            }
            .text-p2{
                padding: 0 2em;
            }
        } 
    }
}
  
