.hg-100 {
    height: 100%;
}
.pd-x-0 {
    padding-left: 0;
    padding-right: 0;
}
.pl-0{
    padding-left: 0;
}
.pl-1{
    padding-left: 1em;
}
.pr-1{
    padding-right: 1em;
}
.pr-3 {
    padding-right: 3em;
}
.pr-4{
    padding-right: 4em;
}
.padd-0{
    padding: 0;
}
.row {
    width: 100%;
    margin: auto;
}
.mb-0 {
    margin-bottom: 0 !important;
}
/*POSITION*/
.pos-rel {
    position: relative;
}
.pos-fix {
    position: fixed;
}
/*
DISPLAY
*/
.d-inBlock {
    display: inline-block;
}
.disp-block {
    display: block;
}
/*
FLOAT
*/
.float-left {
    float: left;
}
.float-right {
    float: right;
}
/*
flex
*/
.flex {
    display: flex;
    align-items: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
.d-flex {
    display: flex;
}
.justContentCenter {
    justify-content: center;
}
.jContentB {
    justify-content: space-between;
}
.jContentFend {
    justify-content: flex-end;
}
.flex-column {
    flex-direction: column;
}
/*
typografia
*/
.p-internas {
    font-family: $font-internas;
}
.p-internas-bold {
    font-family: $font-bold-internas;
    font-weight: bold;
}
.internas-bold {
    font-family: $font-bold-internas;
}
.titles-big {
    font-family: $font-titles;
}
.text-internas {
    font-family: $font-internas;
    font-size: 0.947em;
    line-height: 1.3;
    //margin-bottom: 2em;
    color: $color-int2;
}
.font-semi-bold{
    font-family: $font-semiBold;
}

/*************
    COLORS
*************/
.color-primary {
    color: $color-primary !important;
}
.color-secondary{
    color: $color-secondary;
}
/*btns*/
.btn {
    border: none;
    outline: none;
}

.fp-tableCell {
    height: 100%!important;
}
.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell{
    height: auto !important;
}
/*
LINE HEIGHT
*/
.lineH1 {
    line-height: 1;
}
.lineH1-5 {
    line-height: 1.5;
}
.lineH2 {
    line-height: 2;
}
/*BG*/
.bgInternas {
    background-color: $bg-internasGray;
}
/*IMG*/
.img-cover{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
