*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
html{
    font-size: 19px;
    
    @media (max-width:575px) {font-size: 14px;}
    @media (min-width:576px) and (max-width:767px){font-size: 15px;}
    @media (min-width:768px) and (max-width:1199px){font-size: 17px;}
    @media (min-width:1200px) and (max-width:1919px){font-size: 16px;}
}