.info-form {

    .text-intr-form{
        font-size: .75em;
        opacity: .7;
        line-height: 20px;
        margin-bottom: 4.5em;
    }
    .phones-info-form {
        padding-top: 1em;
        float: left;
        //margin-right: 1.3em;
        padding-left: 1.8em;

        .phoneInfoForm {
            position: relative;
            font-size: 1.2em;
            color: $color-primary;
            text-decoration: none;

            &:before{
                position: absolute;
                content: '';
                font-family: $font-internas;
                font-size: 12px;
                top: -21px;
                left: 35px;
            }
            &.quotes:before {
                content: 'Central Telefonica';
                color:$color-int2 ;
          
            }

            .icon-phone {
                margin-right: 6px;
                font-weight: bold;
                font-size: 1.1em;
            }
        }
    }
    .icon-form {
        color: $color-primary;
    }
}
.rs-form,
.wrapper-suscription{
    display: none;
}
.sct-contact-us {
    .contact-flex {
        display: flex;
        flex-direction: column-reverse;

        .fa-ul {
            margin-left: 1em;
        }
        
    }
    .info-form {

        .phones-info-form {
            padding-left: 0;
            margin-bottom: 1.5em;
        }
        .text-intr-form {
            opacity: 1;
            font-size: .86em;
            br{
                display: none;
            }
        }
    } 
    .rs-form{
        display: block;
        margin-top: 2.8em;

        .icons-rs-form{
            padding-left: 1em;
            padding-top: 1.5em;

            .content-icon-form{
                float: left;
                margin-right: 1.5em;
        
                .icons-form-rs{
                    font-size: 2.75em;
                    color: $color-int2;
                    display: inline-block;
                    transition: 0.4s;

                    &:hover {
                        transform: rotate(360deg);
                        color: $color-secondary;
                    }
                }
                
            }
        }
    }

    .wrapper-suscription{
        display: block;
        background-image: url('../../assets/images/internas/fondo_formulario.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1em;
        margin-top: 4em;

        .input-suscription{
            height: 2.2em;
            width: 70%;
            display: inline-block;
            border: 0;
        }

        .btn-suscription{
            width: 25%;
            height: 2.2em;
            float: right;
            border: 0;
            border-radius: 3px;
            background-color: $color-peru;
            color: $color-white;
            position: relative;
            display: flex;
            justify-content: center;
            &:hover{
                opacity: .9;
            }
        }
    }

    .sct-form > img {
        display: none;
    }
}
.ttl-sg{
    //font-size: ;
    padding: 0 .3em;
}
#form-suscription{
    .input-suscription.error{border: 1.5px solid red;}
    label.error{display: none !important;}
}