.sct-participate {
    position: relative;
    padding: 2.2em 0;

    .icon-container {
        margin-right: 1em;
        .icon-prtcp{
            font-size: 5em;
            color: $color-peru;
        }
    }
    .titles-participate {
        .internas-bold {
            font-size: 1.06em;
            margin-top: 0;
        }
        >.p-internas {
            font-size: .75em;
            opacity: .8;
            height: 2.5em;
        }
        .content-btn-participate {
            //margin-top: 1em;
            .btn-participate {
                color: $color-white;
                font-size: 0.845em;
                float: left;
               //width: 100%;
                height: 100%;
                position: relative;
                padding: 0.9em 4em;
                border-radius: 4px;
                background-color: $color-secondary;
            }
        }
    }
}

.sct-centers {
    .wrapper-img-centers {
        width: 25%;
        float: left;
    }
}
.div-info-centers {
    text-align: center;
}
/*****************
SECCION NOVEDADES
*****************/
.sct-news {
    padding-top: 8em;

    .container {width: 91%;}
    .ttl-news{
        margin: 1em 0;
    }

    .carrousel-news {
        .owl-nav {
            position: absolute;
            bottom: 35px;
            right: 30px;

            .owl-prev,
            .owl-next {
                border: 3px solid;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                border-color: $color-white;
                background: none;
                font-size: 2em;
                color: $color-white;
                display: block;
                margin: 16px;
            }
        }
    }
    .owl-carousel.owl-drag .owl-item,
        .owl-carousel .owl-stage,
        .owl-carousel .owl-stage-outer,
        .owl-carousel .owl-item {
            height: 100%;
        }
}
.arrow-ancla {
    position: absolute;
    z-index: 1;
    bottom: 3%;
    width: 38px;
    margin: auto;
    left: 0;
    right: 0;
}
#fp-nav ul li .fp-tooltip.fp-right {font-family: $font-internas;}
.form-and-part {padding-top: 8em;}
.main-home {
    .sct-form {
        padding-right: 3em;
        >.container {width: 91%;}
    }
    .sct-participate {
        >.container {width: 91%;}
    }
}
.sombra{
    background: linear-gradient(to bottom, #0000ff00 70%, #000000e8);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.sombra2{
    background: linear-gradient(to bottom, #0000ff00 65%, #000000e8);
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}
.audi-cont{
    width: 4em;
    float: left;
    margin-right: 20px;
    margin-bottom: 1.5em;
}
#fp-nav.fp-right ul li:last-child{
    display: none;
}
.icon-form.icon-sobre{
    font-size: 12px;
}