.sct-red-hospitalaria {
    position: relative;

    .panel-body {
        padding: 0;

        .sub-ttl-flotant {
            padding-left: 1em;
            font-size: 1.4em;
            margin-bottom: 2em;
            font-family:  $font-titles;
        }
    }

    .nav-tabs {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        .isotipo-tab{
            cursor: pointer;
            transition: .3s;

            &:first-child {
                top: 396px;
                left: 250px;
                // left: 27%;
                // bottom: -35%;

            }
            &:nth-child(2) {
                top: 276px;
                left: 136px;
                // top: 24%;
                // left: 14%;

            }
            &:last-child {
                top: 153px;
                left: 265px;
                // top: 12%;
                // left: 28%;

            }

            .icon-ico {
                color: $color-white;
                font-size: 2.1em;
            }

            &.active {
                transform: scale(2.7);
                
                .icon-ico {
                    color: $color-primary;
                }
            }
        }
    }

    .panel-title {
        font-size: 1.45em;
    }

    .tab-content {
        background-color: $color-white;
    }

}


@media (min-width: 768px) {
    .sct-red-hospitalaria {
        .panel-heading {
            display: none;
        }

        .panel {
            border: none;
            box-shadow: none;
        }

        .panel-collapse {
            height: auto;
        }

        .panel-collapse.collapse {
            display: block;
        }
    }

}

@media (max-width: 767px) {
    .sct-red-hospitalaria {
        .tab-content .tab-pane {
            display: block;
        }

        .nav-tabs {
            display: none;
        }

        .panel-title a {
            display: block;
        }

        .panel {
            margin: 0;
            box-shadow: none;
            border-radius: 0;
            margin-top: -2px;
        }

        .tab-pane:first-child .panel {
            border-radius: 5px 5px 0 0;
        }

        .tab-pane:last-child .panel {
            border-radius: 0 0 5px 5px;
        }
    }
}
.bg-transp {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255,255,255,.4);
    width: 100%;
    height: 100%;
}
.map-tab {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

    >div{
        height: 100%;
    }
    
    .img-cover {
        object-fit: contain;
    }
}
.img-clinicas {
    width: 74%;
    text-align: center;
    margin: auto;
    margin-bottom: 1.7em;
    .img-color {
        display: none;
        transition: .3s;
    }
    .img-opacity {
        opacity: .8;
        transition: .3s;
        

    }
    &:hover {
        .img-color {
            display: block;
        }
        .img-opacity {
            display: none;
        }
    }
}
.isotipo-tab.active .pulse {
    position: absolute;
    left: 50%;
    top: 50%;
    
    width: 10px;
    height: 10px;

    background-color: rgba(0,57,137,.32);
    border-radius: 50%;
    transform: translate(-50%, -30%);
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 57, 137, 0.3), 0 0 0 0 rgba(0, 57, 137, 0.3);
    }

    40% {
        box-shadow: 0 0 0 14px rgba(0, 57, 137, 0), 0 0 0 0 rgba(0, 57, 137, 0.3);
    }

    80% {
        box-shadow: 0 0 0 20px rgba(0, 57, 137, 0), 0 0 0 21px rgba(0, 57, 137, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 57, 137, 0), 0 0 0 30px rgba(0, 57, 137, 0);
    }
}

.img-tabs-country {
    height: 64em;
}
