.card-process-formation{
        margin-top: 2em;
        margin-bottom: 4em;
        //margin-bottom: 5em;

    .wrapper-card-repeat .front, 
    .wrapper-card-repeat .back {
        height: 16em;
    }
}
.sct-hospital-vocation{
    background-color: $color-white;
    >.container{
        width: 86% !important;
    }
}
.progr-acom{
    .description-flotant {
        width: 35em;
        .list-progr-acom{
            .item-progr-acom{
                position: relative;
                padding-left: 1.5em;
                &:before{
                    content: "";
                    position: absolute;
                    border: solid #00a0de;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 3px;
                    transform: rotate(-45deg);
                    -webkit-transform: rotate(-45deg);
                    left: 0em;
                    top: 0.4em;
                }
            }
        }
    }
}