.sct-joins-us{
    background-color: $color-white;
    .etaps{
        padding-right: 4em;

        .ttl-etaps{
            margin-bottom: 8px;
        }

        &.etap-one{
            margin: 5em 0 2.5em;
        }
    }
    .img-etapas{
        height: 44em;   
    }
}
.description-etaps{
    >.row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.img-two-etaps{
    height: 41em;
}
.wrapper-form-postul{
    background-image: url('../../assets/images/internas/fondo_formulario.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.5em;

    .form .form__input, 
    .form .form_textarea{
        background-color: $color-white;
    }
    .form .form__wrapper {
        margin-bottom: .8em;
    }
    .btn-send {
        padding: 0.7em 2.5em;
        font-size: 0.95em;
    }
    .form .form__input, .form .form_textarea {
        height: 2.12rem;
        padding: 0.7rem .4rem 0.0625rem;
    }
    .form .form__input:focus ~ .form__label .form__label-content, 
    .form .form_textarea:focus ~ .form__label .form__label-content, 
    .form .form--filled .form__label-content {
        top: -.5em;
    }
    .form .form__label {
        padding-left: 0.5rem;
    }
    .file_label{
        font-size: .65em;
    }
    .file_label span {
        font-size: 1.4em;
    }
    .form__label{
        color: $color-int2;
    }

}
.logo-bumeran{
    width: 12.5em;
}
.dscrp-trab-us{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;

    .text-p2{
        padding-right: 4em;
    }
}
.description-etaps{
    margin-bottom: 5em;
}