@media (max-width:320px) {
    .m-btn {
        width: 87% !important;
    }
}
@media (max-width:575px) {
    .container {
        width: 100%;
    }
    .wrapper-footer {
        .menuF-list {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin: 0;
        }
    }
        .wrapper-nav-big .nav-big {
            padding: 0 0 0em !important;
        }
        .m-btn {
            width: 87% !important;
        }
}
@media (min-width:320px) and (max-width:767px) {
    /*SCT FILTER / CITAS*/
    .wrapper-filter {
        flex-direction: column;
        padding: 0;

        .dropdown {
            width: 90%;
            line-height: 3;
        }
    }

    /**/
    .wrapper-participate {
        margin-bottom: 3em;
    }

    /*FORM*/
    .form-container {
        padding: 0;
    }

    .form {
        .btn-container {
            text-align: center;
        }
    }
    /*menu*/
    .container-hamb {
        .nav__toggle {
            top: auto;
            right: 4%;
            bottom: 15%;
        }
    }

    .menuicon {
        width: 45px;
        height: 45px;
    }

    .sct-mapForm .wrapperMap .contentMap {
        width: 100%;
    }
    .titles-descrip {
        font-size: 2em;
    }
    .wrapper-form-postul {
        padding: 2.5em 1em;
        margin-top: 3em;
    }
    .sct-banner .content-title-banner .titleBanner {
        font-size: 2.3em;
    }
    .tabs-our-founder{
        padding-right: 1em;
        .nav-tabs {
            display: flex;
            overflow: scroll;
            white-space: nowrap;
            width: 100%;
    
            .item-tab{
                width: auto;
            }
        }
    } 
    .content-synthesis .list-synthesis {
        padding: 1em 0 0 0em;
    }
    .us-oh {
        margin-bottom: 2em;
        height: auto;

        .img-us-oh {
            width: 100%;
            float: inherit !important;
        }
    } 
    .contrb-oh .description-contrb {
        padding: 1em 1em 1em 1em;
        &.--presence {
            padding: 1em 0em 1em 1em;
        }
    }
    .content-mv {
        display: inherit;
    }
    .wrapper-mv {
        padding: 0 0em 0 1em;
        .mission {
            margin-bottom: 1em;
        }
    }
    .wrapper-card-repeat {
        .cols {
            margin-bottom: 5px;
        }
        .inner .title-inner {
            font-size: 1.4em;
        }
    } 
    .director {
        .img-superior {
            margin-top: 2em;
        }
        > .row {
            display: inherit;
        }
        .description-hrnos {
            margin-top: 3em;
        }
    } 
    .consejeros {
        border-top: 1px solid rgba(0,0,0,.1);
        margin-top: 3em;

        .wrapper-consejero {
            margin-top: 3em;
            > .row {
                display: inherit;
            }
        } 
        .img-consejero {
            width: 80%;
            margin: auto;
        }
        .description-hrnos {
            text-align: center;
        }
    }

    .formation{
        .q-es > .row {
            display: inherit;
        }
        .descrip-formation {
            padding-left: 1em;
            &.pr-4 {
                padding-right: 1em;
            }
        }
        .content-img-pstoral {
            width: 100%;
            padding-left: 0;
            margin-top: 1.5em;
        }
        
        .mission-pastoral {
            margin: 2em 0 0;
            > .row {
                flex-direction: column-reverse;
            }
        }
        .vission-pastoral .img-vission-past {
            float: inherit;
            height: auto;
        }
        .content-img-esc-hosp {
            margin-top: 1em;
        }
    } 
    .dscrp-trab-us .text-p2 {
        padding-right: 0em;
    }
    .tabs-our-founder {
        .info-tab {
            height: auto;
            position: relative;
            .content-img-tab {
                height: auto;
                float: inherit;
            }
        }
        .panel-body .tab-content {
            margin-bottom: 0;
        }
    } 
    .description-flotant {
        position: relative;
        width: 100%;
        padding: 2em 0 0;
        &.descp-flot-r {
            padding: 2em 0 0;
            float: inherit;
        }
        &.dscp-2 {
            width: 100%;
            padding: 2em 2em 0;
        }
        .text-border:before {
            width: 20px;
            height: 20px;
            border-right-width: 5px;
            border-top-width: 5px;
        }
        .text-border:after {
            width: 20px;
            height: 20px;
            border-left-width: 5px ;
            border-bottom-width: 5px ;
        }
    }
    .img-two-etaps {
        height: auto;
    }
    .pr-3 {
        padding-right: 0em;
    }
    .slide-lineas-maestras,
    .slide-beginning {
        .owl-nav {
            position: relative;
            left: -48px;
            top: -159px;
            height: 100%;

            .owl-next,
            .owl-prev {
                top: 0;
                left: 0;
            }
        }
        .owl-pages{
            display: none;
        }

        .btn-arrow-right,
        .btn-arrow-left {
            position: relative;
            left: 0;
        }
        .btn-arrow-right {
            top: 0;
        }
        .btn-arrow-left {
            top: 70px;
        }
    } 
    .slide-lineas-maestras{
        .owl-nav{
            position: relative;
            left: 0;
            top: 0;
            
        }  
        .btn-arrow-left {
            top: 0;
        }
    } 
    .wrapper-mv.pl-6 {
        padding: 1em;
    }       
    .obrs-apos {
        margin-top: 1em;
    }
    .img-obras-apost {
        width: 100%;
    }
    .wrapper-slide-lineas-m {
        position: relative;
        padding: 2em 1em 0;
        .text-p2 {
            padding-right: 0em;
        }
    }
    .img-lineas-maestras {
        height: auto;
    }
    .sct-hospital-vocation > .container {
        width: 100% !important;
    }
    .sub-ttl-flotant:before {
        width: 50px;
        height: 4px;
    }
    .img-clinicas {
        width: 90%;
    }
    .title-slider {
        justify-content: flex-end;
        width: 90%;
        padding-bottom: 6em;

        .text-title-slider {
            font-size: 1.7em;
        }
        .isotipo-home {
            width: 8em !important;
        }
    } 
    .sct-centers {
        .wrapper-img-centers {
            width: 100%;
            .grid-centers {
                height: 10em;
                figure {
                    &.effect-julia {
                        background-color: transparent;

                        .list-centers {
                            display: none;
                        }
                        .select-centers {
                            width: 11em;
                            height: 2em;
                            border-radius: 5px;
                            border: none;
                            color: $color-white;
                            background-color: $color-secondary;
                            padding-left: 25%;
                            font-family: $font-semiBold;
                        }

                        &:hover {
                            .imgMap-centers {
                                height: inherit;
                            }
                            .img-bg-centers {
                                opacity: 1;
                            }
                        } 
                    }

                    figcaption {
                        padding: 0;
                    }
                }
            } 
            .imgMap-centers {
                flex-direction: row;

                .img-map {
                    width: 3em;
                    margin-right: 1.5em;
                    margin-bottom: 0;
                }
            }
        }
        
    } 
    .sct-news {
        padding-top: 2em;
    }
    .card-big {
        height: 26em;
    }  
    .form-and-part {
        padding-top: 0;
    }  
    .main-home .sct-form {
        padding-right: 0em;
        padding-top: 2.8em;
        .audi-cont {
            width: 3em;
            margin-right: 3px;
        }
        .titles-big {
            font-size: 2em;
        }
        .contact-flex {
            margin-bottom: 4em;
        }
       
    }
    .div-participate {
        margin-bottom: 3em;
    }
    
}

@media (min-width:768px) and (max-width:992px) {
    .description-flotant.dscp-2 {
        width: 70%;
    }
    .contrb-oh .description-contrb {
        padding: 1em 4em 1em 3em;
    }
    .content-synthesis .list-synthesis .item-synthesis:last-child {
        float: initial;
    }
    .tabs-our-founder .nav-tabs .item-tab {
        width: 5em;
    }
    .contrb-oh .description-contrb.--presence {
        padding: 1em 0em 1em 3em;
    }
    .wrapper-mv {
        padding: 0 2em 0 3em;
    }
    .wrapper-mv .mission {
        margin-bottom: 1em;
    }
    .sct-joins-us .etaps {
        padding-right: 2em;
    }
    .sct-joins-us .etaps.etap-one {
        margin: 4em 0 2.5em;
    }
}
@media (max-width: 922px) {
    .dscrp-trab-us {
        display: inherit;
    }
    .sct-joins-us .etaps {
        padding-right: 0;
    }
    .description-etaps {
        margin-bottom: 1em;
    }
}

@media (min-width:992px) and (max-width:1199px) {

}
@media(max-width:1024px) {
    .wrapper-header {
        header {
            padding-top: 3em;

            &.container {
                width: 100%;
            }
        }

        .content-menuPrincipal {
            .phones-and-socialH {
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                left: 0;

                .quotes.phoneInfoForm {
                    font-size: 1em;
                    display: none;

                    &:before {
                        display: none;
                    }
                }
            }

            .navbarList {
                position: absolute;
                top: 0;
                right: -8%;

                .navbarItem.btnCitas {
                    border-radius: 0;
                    padding: 0.6em 1.2em;
                    font-size: 1.15em;
                }
            }
        }

        .contentLogo {
            width: 14em;
            position: relative;
        }
    }
    .red-hosp {
        margin-right: 0;
        border-radius: 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .wrapper-nav-big .nav-big {
        padding: 0 1em 0em;

        .item-nav-big {

            &.contc {
                font-size: 1.15em;
                margin-top: 0;
            }
            .subm-nav-big {
                position: relative;
                left: 0;
                padding-left: 2em;
            }
        }
    }
    .navigation__list {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 4.3em;

        .nav-left {
            padding: 4em 2em 2em 2em;
            height: auto;
        }
    }
    .navigation__nav {
        height: 100vh;
        overflow: auto;
        background-color: $color-white;
    }

    .card-big,
    .card-peqs {
        width: 100%;
    }

    .card-peqs .news-card-peq {
        width: 100%;
        padding: 0;
        margin-bottom: 0 !important;
        margin-top: 2.5em;
    }

    .cardNews {
        display: block;
    }

    .dNone1024 {
        display: none !important;
    }

    .btn-inSesion {
        width: 50%;
        padding: 0.8em 0;
    }
    .accordion-content {
        position: relative;
        width: 90%;
        right: 0;
    }
    .accordion-heading {
        width: 100%;
    }
    .sct-mapForm .wrapperMap .contentMap .embed-responsive-4by3 {
        padding-bottom: 50%;
    }
    .frequent-questions .titleQuestions {
        font-size: 1.8em;
    }

    .wrapper-header.fixed {
        box-shadow: 0 0 6px -2px grey;
    }
    .m-btn {
        margin: 2em 0 4em;
        width: 75%;
        height: 3em;
    }
    .btn-r-hosp {

        width: 100%;
        float: left;
        height: 100%;

        .icon-red-salud {
            margin-right: 7px;
        }
    }
    .nav-left .text-light-left {
        font-size: 0.85em;
    }
    .sct-news .carrousel-news .owl-nav {
        right: 0;
        left: 0;
        top: 44%;
        opacity: 0.78;
    }
    .sct-news .carrousel-news .owl-nav .owl-prev, 
    .sct-news .carrousel-news .owl-nav .owl-next {
        position: absolute;
        margin: -1px;
    }
    .sct-news .carrousel-news .owl-nav .owl-prev {
        left: 0;
    }
    .sct-news .carrousel-news .owl-nav .owl-next {
        right: 0;
    }
    .wrapper-header .content-menuPrincipal {
        float: initial;
        width: 100%;
    }
}
@media (min-width:1200px) and (max-width:1400px) {
    .wrapper-header .contentLogo {
        width: 13em;
    }
    .pb2 {padding-bottom: 0em;}
    .description-flotant {
        width: 40%;
        &.dscp-2 {
            width: 35%;
        }
    }
    .sct-banner .content-title-banner .titleBanner {
        font-size: 2.8em;
    }
    .tabs-our-founder .panel-body .tab-content {
        margin-bottom: 1.5em;
    }
    .contrb-oh { 
        margin-bottom: 3em;
        .number-presence {
            font-size: 1.6em;
        }
        .ttl-sub-presence {
            font-size: 1.2em;
        }
        .description-contrb{
            &.--presence {
                padding: 1em 0em 1em 4em;
            }
        }
    }
    .wrapper-mv {
        padding: 0 1em 0 3em;
    }
    .description-hrnos{
        .name-hrno {
            font-size: 1.1em;
        }
        .email-hrno {
            font-size: 0.7em;
        }
        .position-hrno {
            font-size: 1em;
        }
    } 
    .director .description-hrnos .name-hrno {
        font-size: 1.4em;
    }
    .img-clinicas {
        width: 90%;
    }
    .title-slider .isotipo-home {
        width: 8em !important;
    }
    .card-big {
        height: 28.3em;
    }
    .sct-news {
        padding-top: 6em;
    }
    .card-peqs .news-card-peq .grid-news {
        height: 13.3em;
    }
    .form-and-part {
        padding-top: 5em;
    }
}

@media (max-width:1750px) {
    .wrapper-info-theClinic{
        .wrapper-card-repeat .inner .title-inner {
            font-size: .9em;
        }
    }
}

@media (max-width:1199px) {
    .wrapper-info-theClinic {
        .description-theClinic {
            width: 100%;
            padding: 1em 0em 1em 0em;
        }
    }
    .wrapper-footer {
        padding: 1.5em 0 0;
        .socialNetworksF {
            position: relative;
            padding: 2em 0;
        }
        .content-info-credits {
            flex-direction: column;
            align-items: center;
        }

        .menuF-list {
            &.li-mobil{
                width: 100%;
                text-align: center;
                .menuF-item {
                    width: 100%;
                    .submenuF-item{
                        line-height: 1.4;
                        .submenuF-link {
                            font-weight: bold;
                            font-size: .8em;
                            opacity: 1;
            
                            .fa-li{
                                
                            }
                            &:before {
                                display: none;
                            }
                        }
                        &:first-child {
                            font-size: 1.5em;
                        }
                    }
                }
                
            }
        }
    }
    .credits {
        background: rgba(255,255,255,.1);
        padding: 10px 0;
    }
}

/**/
@media (max-width:767px) {
    .wrapper-nav-big{
        &.row {
            padding-top: 1em;
        }
        .nav-big .item-nav-big {
            line-height: 2.1;
            font-size: 1.15em;
        }
    }
    
    #menuArea .menuOpen{
        top: 40px;
    }
    .prs-oh{
        margin-top: 0;
        
    }
    .contrb-oh .description-contrb .sub-ttl-flotant {
        padding-top: 0;
    }

    .text-p2 {
        font-size: 0.98em;
    }
    .wrapper-nav-big .nav-big .item-nav-big .subm-nav-big .item-subm-big {
        line-height: 2.1;
        font-size: 0.85em;
    }
    .sct-news.detail-news .img-detail-news {
        width: 100%;
        margin-bottom: 1.5em;
    }
    .sct-news .container {
        width: 100%;
    }
    .sct-news.page-news {
        padding-bottom: 2em;
        .ttl-news {
            margin: 2em 0 0em;
        }
    } 
    .wrapper-footer {
        .infoMobile {
            .csjd-linkF {
                .mob-csjd {
                    font-size: 1.2em;
                    font-weight: bold;
                }
            }
        }
    }
}
@media (min-width:768px) and (max-width:991px) {
    .wrapper-nav-big.row {
        align-items: inherit;
        padding-top: 2em;
    }
    .navigation__list .nav-left {
        padding: 0em 2em 2em 3em;
    }
    .wrapper-nav-big .tab-content-imgs {
        height: auto;
    }
    .wrapper-nav-big .img-header-big {
        position: relative;
        width: 100%;
        height: 19em;
        top: 0;
    }
    .navigation__nav {
        height: 100vh;
        overflow: auto;
    }
}
@media (min-width: 992px) and (max-width:1199px) {
    .navigation__list {
        display: inherit;
        padding-top: 2em;
    }
    .navigation__list .nav-left {
        padding: 0em 2em 2em 2em;
    }
    .wrapper-nav-big .tab-content-imgs {
        height: 90vh;
    }
    .navigation__list .nav-left {
        padding: 4em 2em 3em 2em;
        height: 90vh;
    }
    .nav-left .logoAqp-hoverMenu {
        max-width: 75%;
        left: 10%;
    }
    .wrapper-nav-big .img-header-big {
        width: 16em;
        height: 24em;
        top: 21%;
    }
    .m-btn {
        margin: 2em 0 4em;
    }
    .btn-r-hosp {
        padding: 10px 14px;
    }
    .wrapper-nav-big .nav-big {
        padding: 9em 0em 0em;
    }
    .wrapper-nav-big .nav-big .item-nav-big.contc {
        margin-top: 2.3em;
    }
    .wrapper-nav-big.row {
        display: inherit;
    }
}
@media (min-width:1200px) and (max-width:1365px) {
    .wrapper-nav-big {
        .img-header-big {
            width: 16em;
            height: 28em;
            top: 23%;
        }
        .nav-big {
            padding: 0 0em 7em;

            .item-nav-big {
                &.contc {
                    font-size: 1.7em;
                    margin-top: 4em;
                }
                .subm-nav-big {
                    left: 72%;
                }
            } 
        }
    } 
    .nav-left {
        padding: 0 1em 8em 3em;

        .logoAqp-hoverMenu {
            left: 10%;
        }
    }
}
@media (min-width: 1366px) and (max-width: 1400px){
    .wrapper-nav-big .img-header-big {
        width: 19em;
    }
    .sct-red-hospitalaria {

        .nav-tabs {

            .isotipo-tab {

                &:first-child {
                    top: 35%;
                    left: 27%;
                }

                &:nth-child(2) {
                    top: 25%;
                    left: 11%;
                
                }

                &:last-child {
                    top: 16%;
                    left: 23%;
                }
            }
        }
    }
}
