.wrapper-info-theClinic {
    background-color: $color-white;
    padding-top: 1em;

    .description-theClinic {
        width: 83%;
        float: left;
        margin-bottom: 4em;
    }
}

.pb2{
    padding-bottom: 2em;
}
.pr3{
    padding-right: 3em;
}
img.pt4{
    padding-top: 4em;
}
.prs-oh {
    margin-top: 5em;
}
.margin-t-varios {
    margin-top: 4em;
}
/****************
NUESTRO FUNDADOR
*****************/
.tabs-our-founder,
.nav-tabs{
    float: right;
}
.tabs-our-founder{
    margin-bottom: 1em;
    padding-right: 4em;
    .nav-tabs{
        border: 0;
        padding-right: 3em;

        .item-tab{
            width: 5.8em;
            text-align: center;

            .link-tab{
                color: $color-int1;
                font-family: $font-internas;
                border: 0;
                font-size: 1.508em;
                &:hover{
                    background-color: none !important;
                }
            }
            &.active{
                transform: scale(1.6);
                transition: .3s;
                .link-tab{
                    font-family: $font-bold-internas;
                    color: $color-primary;
                    
                }
            }
        }
    }
    .info-tab{
        height: 38.6em;
        position: relative;
    
        .content-img-tab{
            //width: 83%;
            height: 100%;
            float: right;
        }
    }
    .panel-body{
        //padding-right: 2em;
        .tab-content{
            margin-bottom: 6.5em;
        }
    }
}

//SINTESIS DE SU OBRA
.work-synthesis{
    padding-right: 0;
}
.content-synthesis{
    .img-synthesis{
        //width: 68%;
        height: 44.3em;
        //float: left;
    }
    .list-synthesis{
        //width: calc(100% - 68%);
        //float: left;
        padding: 3em 0 0 3em;

        .item-synthesis{
            margin-bottom: 1.5em;

            .icons-synthesis{
                color: $color-secondary;
                font-size: 2em;
            }
            .ttl-synthesis{
                color: $color-primary;
                font-family: $font-semiBold;
                text-transform: capitalize;
                font-size: 1.053em;
                padding: 5px 0;
            }
            .text-internas{
                font-size: .8em;
            }
        }
    }
}

/******************
HISTORIA DE LA OH
*******************/
.us-oh{
    position: relative;
    height: 34.8em;
    margin-bottom: 6em;
    margin-top: 1.3em;

    .img-us-oh{
        //width: 86%;
        height: 100%;
    }
}
.contrb-oh{
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-bottom: 6em;

    .description-contrb{
       // width: 43%;
        padding: 1em 5.5em 1em 4em;
        text-align: justify;
        float: left;
    
        .sub-ttl-flotant{
            margin-bottom: 2em;
        }
        .text-internas{
            margin-bottom: 3em;
        }
        
        &.--presence{
            padding: 1em 0em 1em 7em;
        }
    }
    .content-img-contrb{
        float: left;
        //width: calc(100% - 43%);
    }
    .number-presence{
        font-size: 2em;
    }
    .ttl-sub-presence{
        font-size: 1.54em;
    }
}
/***************
MISION Y VISION
****************/
.content-mv{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.wrapper-mv{
    padding: 0 4em 0 3em;
    &.pl-6{
        padding-left: 6em;
    }

    .mission{
        margin-bottom: 4em;
    }
}
.img-mv-oh{
    width: 100%;
    float: right;
}

/*****************
SLIDER PRINCIPIOS
******************/

.slide-lineas-maestras,
.slide-beginning{

    .btn-arrow-right,
    .btn-arrow-left {
        position: absolute;
        left: -111px;
        font-size: 2em;
        border: 3px solid;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        color: $color-primary;
        border-color: rgba(0,57,137,.4);
        background-color: transparent;
        top: 0;
        margin: auto;
        bottom: 0;
    }
    .owl-nav {
        position: absolute;
        left: -156px;
        top: 0;
        height: 100%;

        .owl-pages {
            position: absolute;
            bottom: 14%;
            font-family: $font-semiBold;
            color: $color-primary;
            border-bottom: 4px solid rgba(0,57,137,.4);
            padding: 0 1.3em;

            &:before {
                content: "";
                width: 50%;
                height: 4px;
                background-color: $color-primary;
                position: absolute;
                bottom: -4px;
                left: 0;
            }

            .owl-pages-current{
                font-size: 3em;
            }

            .owl-pages-count {
                opacity: 0.5;
                font-size: 1.6em;
            }
        }

        .owl-prev,
        .owl-next{
            position: absolute;
            top: 173px;
            left: 154px;
        
        }
    }
}
.slide-beginning{

    .slider-sub-item{
        .img-slider-beginning{
            height: 15em;
        }
        .description-item-beginning{
            height: 7em;
            padding: 1em 1.5em 1em;
            background-color: $color-secondary;

            .text-p2{
                color: $color-white;
                text-align: initial;
                padding-bottom: 0;
            }
        }
    }

    .btn-arrow-right {
        top: -50px;
    }
    .btn-arrow-left {
        top: 90px;
    }   
}
.slide-lineas-maestras {
    .owl-nav {
        position: relative;
        left: 0;
        text-align: center;
        margin-top: 3em;

        .owl-prev,
        .owl-next{
            position: relative;
            top: 0;
            left: 0;
        
        }
        .owl-prev{
            float: left;
        }
        
        .owl-next {
            float: right;
        }
        .owl-pages{
            position: relative;
        }
        .owl-next,
        .owl-prev,
        .owl-pages {
            display: inline-block;
        }
    }

    .btn-arrow-right,
    .btn-arrow-left {
        position: relative;
        left: 0;
    }

}
.wrapper-slide-lineas-m{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 2em 3.8em 0;

    .text-p2 {
        padding-right: 2.2em;
    }
}
/******************************
ESTRUCTURA DE LA ORDEN MÉDICA
******************************/
.img-obras-apost{
    width: 91%;
    float: right;
}
.obrs-apos{
    margin-top: 5em;
}
/******************
NUESTRO DIRECTORIO
*******************/
.director{
    >.row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .description-hrnos{
        padding-left: 2em;

        .name-hrno{
            font-size: 1.65em;
        }
    }
    .img-superior{
        width: 83%;
        margin: auto;
    }
}
.consejeros{
    .wrapper-consejero{
        margin-top: 5em;
        
        >.row{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .description-hrnos{
        padding: 1em 0;
    }
}
.content-svg-estructura {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/mapa-estructura.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper-info-theClinic{
    .wrapper-card-repeat .inner .title-inner {
        font-size: 1.15em;
    }
}